<h1>Stupid Coaching</h1>

<div class="input">
  <form action="/answer">
    <label for="question">Ask your coach anything:</label>
    <br>
    <input id="question" type="text" name="question">
    <input type="submit" value="Ask">
  </form>
</div>
